* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
}

#wrapper {
    margin: 20px auto;
    width: 300px;
    outline: 0.5px black solid;
    border-radius: 15px;
    z-index: 0;
    overflow: hidden;
}

.container div {
    border: 0.5px black solid;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.col-sm:not(#screen):hover {
    opacity: 0.8;
}

.col-sm {
    background-color: #807780 !important;
    padding: 0 !important;
    color: white;
    line-height: 73.75px;
}

.row {
    height: 73.75px;
}

.row> :last-child {
    background-color: #FEA00B !important;
}

#screen {
    background-color: #574856 !important;
    color: white;
}